// Insert your styles here, using LESS
html, body {
    color: #213443;
    min-height: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(#734052, #F4EAC8);
}

.login-card {
    top: 25vh;
    background: #F7F7F7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    flex-direction: row;
}

.card.card-container.login-card {
    max-width: 700px;
    padding: 40px 40px;
}

.right-login-card {
    width: 50%;
    float: right;
    margin-left: 10px;
}

.flex-container-login {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid #ced4da;
}

.flex-container-login > div {
  width: 70px;
  height: 70px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  cursor: pointer;
}

.flex-container-login>div:hover {
    border: 1px solid black;
}

.flex-container-login > div > img {
    width: 100%;
    padding: 7px;
}
